// imports
@import "compass/css3";
@import "compass/support";
@import "_fontface";

@import "compass/reset";
//chrome frame
.chromeframe {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
//main values
$darkBlue:#0e1932;
$lightBlue:#223971;
$footerColor:#3d4659;
$mainFont: 'FontinSansRgRegular', sans-serif;
$boldFont:'FontinSansRgBold', sans-serif;
$italicFont:'FontinSansRgItalic', sans-serif;
$museo:"Museo", sans-serif;
$museoBold:"Museo500", sans-serif;
$museoBlack:"Museo700", sans-serif;

$mainWidth:980px;

@mixin gradient($top:#eee, $bottom:#777){
  @include background(linear-gradient(top, $top, $bottom));
}

body{
	background-color:$darkBlue;
    @include gradient($lightBlue, $darkBlue);
    background-image:url(../images/body_back.jpg);
	font:13px $mainFont;
}
a{
  color:$lightBlue;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
::-webkit-input-placeholder, input::-moz-placeholder {
  color:#999;
}
h1, h2, h3, h4, h5, h6{
  font:24px $boldFont;
  color:#333;
  letter-spacing: .5px;
}
p{font-size:14px; color:#444;}
//main sections
section.content{
	width:$mainWidth;
	margin:10px auto;
  .container{
    padding-bottom:20px;
    display:block;
    overflow: hidden;
    @include gradient(#fdfdfd, #fefefe);
    border-bottom: solid 1px #070d19;
    @include border-radius(4px, 4px);
    clear:both;
  }
}
header, footer{
	width:$mainWidth;
    margin:0 auto;
	display:block;
  a{
    color:#eee;
  }
}
header{
  padding:15px 0;
  background:url(../images/europe.png) no-repeat center -60px;
  margin:0 auto -10px auto;
  height:100px;
  a.logo{
    float:left;
    width:103px;
    margin-left:15px;
    background:url(../images/logo.png) no-repeat;
    height:97px;
    margin-bottom:15px;
    text-indent: -1000px;
  }
  nav{
    float:right;
    a{
      margin-left:10px;
      padding-right:15px;
      font-size:12px;
    }
  }
  .searchForm{
    float:right;
    clear:right;
    margin-top:55px;
    input[type="text"]{
      padding:6px 10px;
      width: 180px;
      @include border-radius(3px, 3px);
      @include gradient(#ddd, #eee);
      border:solid 1px $darkBlue;
      border-top-color: #eee;
      font-size:12px;
      font-weight: 300;
      outline: none;
    }
    input[type="text"]:focus{
      background:#fafafa;
    }
    button{
      padding:6px 10px;
      @include gradient(#fff, #ddd);
      @include border-radius(3px, 3px);
      border:solid 1px $darkBlue;
      border-top-color:#fff;
      font-size: 13px;
    }
  }
}
footer{
  text-align: center;
  margin-top:15px;
  nav{
    padding-top:15px;
    border-top:solid 1px #070d19;
    float:left;
    margin:20px 0 20px $mainWidth/5.2;

    a{
      float: left;
      color:$footerColor;
      padding:2px 10px;
      border:solid 1px #070d19;
      border-left-color: #101e39;
      border-top:none;
      border-bottom:none;
      margin-left: .5px;
    }
    a:hover{
      color:#eee;
    }
    a:first-child{
      border-left:none;
    }
    a:last-child{
      border-right:none;
    }
  }
  .copyright{
    float:left;
    width:100%;
    text-align:center;
    color:$footerColor;
    font-size: 12px;
    display:block;
    padding-top:50px;
    margin-bottom:30px;
    background:url(../images/star_footer.png) no-repeat center top;
  }
}
.mainNav{
  float:left;
  width:100%;
  clear:both;
  border-top:solid 1px #fef4c9;
  background-repeat: no-repeat;
  background-image:url(../images/line.png);
  background-position: center bottom;
  border-bottom:solid 1px #fed014;
  @include background(linear-gradient(top, #feeca3, #fed42b));
  a{
    float:left;
    color:#333;
    font-size:20px;
    padding:15px 21px 13px 21px;
    //background-color:#fed42b;
    //border-top:solid 1px #fef4c9;
    @include single-text-shadow(#fefefe, 0,1px,  2px);

  }
  a:hover, a.active{
    text-decoration:none;
    background-color:#fed42b;
    color:#fff;
    @include single-text-shadow(#c5a421, 0, 1px, 2px);
    @include single-box-shadow(#e7c127, 0, 0, 5px, 0, true);
  }
}
.container{
  float:left;
}
article{
  padding:10px 0;
  display:block;
  .subtitle{
    display:block;
    color:#5d5d5d;
    padding:3px 5px 0px 5px;
    font-size:15px;
  }
  h2, h3{
    font-size:24px;
    padding:5px 0 18px 5px;    
  }
}
.slide{
  float:left; 
  width:98%;
  padding:15px;
  .popular{
    float:left; 
    width:30%;
  }
  .slider{
    float:right;
    width:60%;
    margin-right:10px;
    .mainSlide{
      background:#dedede;
      @include single-box-shadow(#ccc, 0, 0, 3px, 0, true);
      height:273px;
      padding:5px;
      a{
        // float:left;
        display:none; 
        text-align:right;
        span.imgTitle{
          display:block;
          margin:0 10px 10px 10px;
          b{
            color:#444;
            display:block;
            margin-bottom:-10px;
            font-size:15px;
          }
        }
        span.img {
          display:block;
          overflow:hidden;
          margin:0 0 10px 0;
          float:right;
          width: 99.5%;
          height:270px;
          border:solid 1px #999;
          img{
            width:100%;
          }
        } 
      }
      span b{
          text-decoration:none!important;
      }
      a:first-child{display:block;}
    }
    .thumb{
        float:left;
        margin:10px 10px 0 0;
        border:solid 2px #ddd;
        padding:1px;
      }
  }
}
.sectionTriple{
  float:left;
  width:98%;
  padding:0 0 0 15px;
  article{
    float:left;
    width:32%;
    margin-right:18px;
  }
  article:last-child{
    margin-right:0;
  }
}
.details{
  display:block;
  @include border-radius(3px, 3px);
  background:#274176;
  @include background(linear-gradient(top, #35589f, #274176));
    float:left;
  color:#fff;
  padding:8px 15px;
  border:solid 1px #274176;
  border-top-color:#4c7fe5;
  margin-top:15px;
  font-size:12px;
}
.details:hover{
  background:#35589f;
  text-decoration:none;
}
.details:active{
  color:#ddd;
  background:#274176;
}
.quote{
  float:left;
  width:98%;
  text-align:left;
  margin:0 0 10px 1%;
  border-left:none;
  border-right:none;
  height:100px;
  background:#000 url(../images/quote.png) no-repeat right -25px;

  h2{
    font-size:20px;
    float:left;
    font-weight: 300;
    font-family:$mainFont;
    padding:20px 15px;
    color:#fff;
  }
}

.sidebar{
  float:left;
  width:200px;
  margin:30px 10px 25px 10px;
  h3{
    font: 20px "Verdana", sans-serif;
    margin:0 0 15px 0;
  }
  ul{
    float:left;
    margin-bottom:15px;
    width: 100%;
    border:solid 1px #ddd;
    @include border-radius(2px, 2px);
    overflow:hidden;
    a{
      display:block;
      padding:10px;
      font-size: 16px;
      padding-left:10px;
      background: #fafafa;
      border-bottom:solid 1px #ddd;
      color:#434343;
    }
    a:hover, a.active{
      text-decoration: none;
      background: #34569c;
      color:#fff;
    }
  }
  li:last-child a{border-bottom: none;}
}
strong{font-weight: 700!important;}
.rightContent{
  float:left;
  width:75%;
  padding-left:10px;
  h1{
    //font-size: 28px;
    font: 26px "Verdana", sans-serif;
    //font-weight: 700;
    margin:25px 0 30px 0;
  }
  p{
    padding-bottom:5px;
  }
}
.mapContainer{
  display:block;
  float: left;
  width: 700px;
  margin-top:45px;
  height:320px;
  border:solid 1px #ddd;
  padding:4px;
  margin-bottom:30px;
  .map{
    height:320px;
  }
}
.halfWidth{
  width:49%!important;
  float:left!important;
}
.galleryItem, .productItem{
  float:left;
  width:220px;

  margin-right:15px;
  a{
    float:left;
    .imgContainer{
      margin-bottom: 10px;
      position: relative;
      float:left;
      overflow: hidden;
      height:120px;
      img{
        position: relative;
        top: -10px;
      }
    }
  }
  a:hover {
    text-decoration: none;
    span{
    background: #ddd;
    }
  }
  img  {
    float:left;
    max-width: 214px;
    margin-bottom:10px;
    padding:3px;
    border:solid 1px #ddd;
  }
  span{
    font-size:16px;
    text-align: center;
    display: block;
    padding:10px 0;
  }
}
div.rightContent .galleryItem:nth-child(3n+3){
  //margin-right: 0px!important;
  //margin-left:15px;
}
.productItem{
  width:150px;
  margin-right:30px;
  img{
    width: 150px;
  }
}
.actialityItem{
  width:49%;
  h3{
    font:22px "Verdana", sans-serif;
  }

  .date{
    padding-bottom:10px;
    display: block;
  }
}

form.contact{
  width:250px;
  float:right;
  color:#666;
  font-size:13px;
  input[type="text"], textarea, input{
    position: relative;
    left:-5px;
    display:block;
    float:left;
    clear:both;
    margin:5px 5px 10px 5px;
    padding:5px;
    width:200px;
    border:solid 1px #ddd;
  }
  label{
    display:block;
    float:left;clear:both;
  }
  textarea{
    height:100px;
  }
  span{display:none;}
  .details{
    width:100px!important;   margin-right:30px;float:right;
  }
}
.galeryDetails{
  .galleryItem{
    a{
      width:180px;

      .imgContainer{
        height:120px!important;
        width:180px;
        background-color: #eee;
        overflow:hidden;
        text-align:center;
        padding:5px;
        border:solid 1px #ddd;
        float:left;
        img{
          width:180px;
          padding:0;
        }
      }
      .productTitle{
        margin-top:100px;
      }
    }
  }
}
ol.slats li {
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #eee;
  float:left;
  width: 100%;
}
ol.slats li:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
ol.slats li h3 {
  font-size: 18px;
  font-weight: 300;
  margin:10px 0 7px 0;
  line-height: 1.1;
  img{
    border: solid 1px #ddd;
    padding:3px;
    max-height: 60px;
    max-width: 60px;
    float:left;
    margin:-5px 15px 5px 0;
  }
}
ol.slats li p {
  font-size: 14px;
  line-height: 1.4;
}
ol.slats li p span.meta {
  display: block;
  font-size: 12px;
  color: #999;
}


form fieldset input.form-text {
  display: block;
  width: 50%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form fieldset input[type="text"] {
  border: 1px solid #ccc;
  background: #fff;
}
form fieldset p.form-help {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #999;
}
h1 span{
  font-size:70%;
}
.slats{
  h4{
    font-size:17px;
    margin-bottom: 15px;
    color:#666;
  }
}
.galImg{
  display:block;
  border:solid 1px #ddd!important;
  height:155px;
  width:250px;
  padding:3px;
  float:left;
  span{
    float:left;
    display: block;
    height:99.8%;
    width:99.5%;
    overflow:hidden;
    position: relative;
    text-align:center;
    img{
      width:100%;
      left:0;
      margin:auto;
      float:none;
      //position: absolute;
      bottom:0;
    }
  }
}
nav.breadcrumb {
  font-size: 14px;
  position: relative;
  top:-22px;
  padding-left:3px;
  color: #ccc;
}
nav.breadcrumb a {
  margin: 0 5px;
  text-decoration: none;
  color: #999;
}
nav.breadcrumb a:first-child {
  margin-left: 0;
}
nav.breadcrumb a:hover,
nav.breadcrumb a:focus {
  color: #333;
}
nav.breadcrumb a:active {
  color: #666;
}
nav.breadcrumb strong {
  margin-left: 5px;
  font-weight: bold;
  color: #333;
}
.newsThumb{
  float:left; height:auto; width:150px;overflow:hidden;
  border:solid 1px #ddd;
  padding:3px;
  margin-right: 20px;
  img{
    width:100%;
  }
}
.illustration{
  float:left;
  height:auto;
  width:150px!important;
  overflow:hidden;
  padding:0;
  margin-right: 20px;
  padding:5px 3px 0px 3px!important;
  border:solid 1px #dddddd;
  img{
    padding:0!important;
    border:none;
    max-width: auto;
    max-height: auto;
    min-width:150px!important;
    min-height:105px;
  }
}